body {
    margin: 5% auto;
    background: #f2f2f2;
    background-color: #1a1a1a !important;
    color: #eeeeee !important;
    font-family: "Cascadia Code", "Roboto Mono", Consolas, mono;
    font-size: 16px;
    line-height: 1.8;
    text-shadow: 0 1px 0 #111111;
    max-width: 73% !important;
}
table {
    margin: 5%;
    background: #1a1a1a;
    background-color: #1a1a1a;
    color: #dddddd;
    font-family: "Cascadia Code", "Roboto Mono", Consolas, mono;
    font-size: 16px;
    line-height: 1.8;
    width: 83% !important;
    text-shadow: 0 0 0 #111111;
    border: 0 !important;
}

code {
    background: black;
}
a {
    border-bottom: 1px solid #efefef;
    color: #eeeeee;
    text-decoration: none;
}